
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 400px;
    margin-right: auto;
    margin-left: auto
}


#addboot {
    text-align: left
}

.container {
    background-color: white
}
.boot-card {
    border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 5px 
}